<!DOCTYPE html>
<html lang="zh">
<head>
  <title>AirShare - Upload</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD">
</head>
<body>
    <noscript>
        <strong>We're sorry but this page doesn't work properly without JavaScript enabled.
            Please enable it to continue.</strong>
    </noscript>
    <div class="py-5 text-center">
        <h3>文件上传</h3>
    </div>
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
              <div class="position-relative" style="background-color: #55595c; width: 100%; height: 225px;">
                  <text class="position-absolute top-50 start-50 translate-middle" color="white">文件上传 : ({{ upload_dir }})</text>
              </div>
            <div class="card-body">
                <form action="/api/upload_file" method="POST" enctype="multipart/form-data">
                    <div class="card-text">
                        <p>将文件上传至 {{ upload_dir }}</p>
                        <input class="form-control form-control-sm" type="file" multiple="multiple" name="file"/>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <input class="btn btn-sm btn-outline-primary" type="submit" value="上传" />
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='popper.min.js') }}" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"></script>
</body>
</html>